table {
	background-color: rgb(26, 49, 255);
	border-radius: 5px;
	box-shadow: 5px 5px 5px #777;
	margin: 0 auto;
	padding: 10px;
	table-layout: fixed;
	transform: perspective(1500px) rotateY(-10deg);
}
.cell {
	background-color: #fff;
	border: 1px solid #2b67e9;
	border-radius: 50%;
	box-shadow: inset 5px -1px 2px 1px #0003c5;
	height: 50px;
	margin: 1px;
	text-align: center;
	width: 50px;
}
#reset {
	background-color: #f00;
	border: none;
	border-radius: 5px;
	box-shadow: 5px 5px 10px  #999;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	margin: 0 auto;
	padding: 10px;
	text-shadow: 1px 1px 3px #333;
}
#reset:active {
	background-color: #c00000;
}
.red {
	background-color: red;
}
.yellow {
	background-color: yellow;
}
#winner-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
}
